table {
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr;
    height: 40vh;
}

thead {display: flex;
    flex-direction: row;
    grid-column: 1 / 2;
    border-bottom: 2px solid black;;
}

#thead1 { font-size: 2vh;
}

#thead2 {
    padding-left: 2vh;
    color: rgb(97, 97, 97);
}

tbody {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
}
tbody tr {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

tbody .td1 {
    grid-column: 1 / 2;
    justify-self: start;
    font-weight: 600;
    font-size: 2vh;
}

tbody .td2 {
    grid-column: 2 / 3;
    justify-self: start;
    font-size: 1.8vh;
}

tbody .td3{
    grid-column: 3 / 4;
    justify-self: end;
    font-size: 1.5vh;
}


